---
import { config } from '@/config/site';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title={`Mapa do Site - ${config.company.name}`}
  description="Mapa do Site"
  jsonLdItems={['website', 'organization', 'services']}
>
  <section class="py-20 px-10">
    <div class="container">
      <h4 class="font-semibold text-base text-main-600 uppercase text-left mt-10">
        Mapa do Site
      </h4>
      <p class="font-normal text-base text-zinc-500 text-left">
        Clique abaixo e navegue pelas páginas do site.
      </p>
      <nav class="col-span-8 lg:col-span-5 m-auto w-full mt-10">
        <ul>
          <li>
            <a
              href="/"
              title="Home"
              aria-label="Home"
              class="font-semibold text-sm text-primary transition-colors py-2"
            >
              Home
            </a>
          </li>
          <li>
            <a
              href="/quem-somos"
              title="Quem somos"
              aria-label="Quem somos"
              class="font-semibold text-sm text-primary transition-colors py-2"
            >
              Quem somos
            </a>
          </li>
          <li>
            <a
              href="/servicos"
              title="Nossos serviços"
              aria-label="Nossos serviços"
              class="font-semibold text-sm text-primary transition-colors py-2"
            >
              serviços
            </a>
          </li>
          <li>
            <a
              href="/informacoes"
              title="Informações"
              aria-label="Informações"
              class="font-semibold text-sm text-primary transition-colors py-2"
            >
              Informações
            </a>
          </li>
          <li>
            <a
              href="/contato"
              class="font-semibold text-sm text-primary transition-colors py-2"
            >
              Contato
            </a>
          </li>
          <li>
            <a
              href="/blog"
              class="font-semibold text-sm text-primary transition-colors py-2"
            >
              Blog
            </a> 
          </li>
          <li>
            <a
              href="/politica-de-privacidade"
              class="font-semibold text-sm text-primary transition-colors py-2"
            >
              Privacidade
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</Layout>
