---
import type { HeroContent } from 'src/schemas/hero';
import { heroContent } from 'src/content/hero';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

const { content = heroContent } = Astro.props as { content?: HeroContent };
---

<section class="w-full md:h-[80vh] mt-20 md:px-10 lg:px-20 flex flex-col md:flex-row items-center">
  <div class="flex flex-col gap-4 items-center justify-start p-4">
    <h1 class="w-full flex flex-col mt-6 md:mt-0">
      {content.titleHighlights.map((str, i) => (
        <span class={`display-6 font-bold ${i === 0 ? 'text-primary' : 'text-secondary'}`}>{str}</span>
      ))}
    </h1>
    <h2 class="text-base md:text-lg font-bold text-secondary-500">{content.subtitle}</h2>
    <div class="w-full flex flex-col gap-2 justify-start">
      <button
        data-rybbit-event="click-button"
        data-rybbit-prop-item_id="cta-primary"
        data-rybbit-prop-section_id="hero"
        class="w-fit flex flex-row items-center justify-center gap-2 btn-primary-solid btn-xl mt-4 md:mt-6"> 
        {content.cta.label}
      </button>
    </div>
  </div>
  <figure class="w-full max-w-xl p-3 sm:p-0 flex items-center justify-center flex-col gap-3">
    <Image
    src="/images/hero/hero-image.jpg"
    alt="Imagem ilustrativa de marketing digital e SEO"
    class="w-full h-auto rounded-2xl border border-secondary-200 shadow-lg object-contain"
    width={600}
    height={400}
    loading="eager" />
    <figcaption> 
      <strong>Legenda do Gráfico:</strong> 
      Comparativo entre a busca por links demonstra que ela será superada pela busca por síntese em 2028.
    </figcaption>
  </figure>
</section>
